<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1033420313424-mq5osb38kn43hakjo60j7389ln9dknu9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1033420313424-mq5osb38kn43hakjo60j7389ln9dknu9</string>
	<key>API_KEY</key>
	<string>AIzaSyA5klS9aE8iacDsUdkjhdAZWzS4DUAzSI0</string>
	<key>GCM_SENDER_ID</key>
	<string>1033420313424</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gdt</string>
	<key>PROJECT_ID</key>
	<string>gaming-disorder-test-poland</string>
	<key>STORAGE_BUCKET</key>
	<string>gaming-disorder-test-poland.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1033420313424:ios:7075217301433f178e1255</string>
</dict>
</plist>